
/* Followings are additional for DebugTrace. */
body, div.block, dd {
	font-family: 'Verdana', sans-serif;
}

.contentContainer .description dl dd, .contentContainer .details dl dd, .serializedFormContainer dl dd {
	font-family: 'Consolas', monospace;
	font-size: 12px;
}

pre, code, tt, dt code, table tr td dt code {
	font-family: 'Consolas', monospace;
}

.title {
	font-family: 'Verdana', sans-serif;
	font-weight: bold;
}

.code {
	font-family: 'Consolas', monospace;
}

.parameter {
	color: #CC2222;
	background-color: #F7EEFF;
	border-radius: 4px;
	padding: 2px 3px 2px 3px;
}

.selection {
	color: #0055DD;
	font-weight: bold;
}

ul.additinal {
	margin: 4px 0px 0px 8px;
	padding: 0px 0px 0px 0px;
	list-style-type: disc;
}

ol.additinal {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style-type: decimal;
}

ul.additinal li, ol.additinal li {
	margin: 2px 0px 6px 0px;
}

table.additinal {
	margin: 8px;
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 9pt;
}

table.additinal tr th {
	background-color: #E0E0E0;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	border-collapse: collapse;
	padding: 4px;
}

table.additinal tr td {
	background-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	border-collapse: collapse;
	padding: 4px;
}

.ja {display: none;}
