<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %msg%n"/>
		</Console>
	</appenders>

	<loggers>
		<logger name="org.mkokubo.debugtrace.DebugTrace" level="trace"/>
		<root level="error">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>
