<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[SLF4J logback] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.debugtrace.DebugTrace" level="trace"/>

    <root level="error">
        <appender-ref ref="Console" />
    </root>
</configuration>
